<div class="owl-carousel">
    <div><img src="http://placehold.it/960x300&text=one"/></div>
    <div><img src="http://placehold.it/960x300&text=two"/></div>
    <div><img src="http://placehold.it/960x300&text=three"/></div>
    <div><img src="http://placehold.it/960x300&text=four"/></div>
    <div><img src="http://placehold.it/960x300&text=five"/></div>
    <div><img src="http://placehold.it/960x300&text=six"/></div>
</div>
<div class="stripe">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="text-muted text-center"><em>Exodus 20:16 Though shalt not bear false witness against thy
                            neighbor</em></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 location" ng-controller="MyCtrl1">
                <h2>Church Location</h2>
                <ui-gmap-google-map center='{latitude:41.160875,longitude:-73.766576}' zoom='10' draggable='false' pan='false'></ui-gmap-google-map>

                <!-- proximanova light -->
                <p>Located on 12 Orchard Ridge Road in Chappaqua, NY. Exit 32 off the Saw Mill Parkway. Corner of King
                    St. (South 120) and Orchard Ridge Road. <a target="_blank" href="https://www.bing.com/maps/?cp=41.160873~-73.766579&sty=r&lvl=16&rtp=~pos.41.160873_-73.766579____&mm_embed=dir">(directions)</a></p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 our-beliefs">
                <h2>Our Beliefs</h2>
                <dl>
                    <dt>The authority of the Bible</dt>
                    <dd>The Bible reveals God, the fall of man, the way of salvation, and God’s planned purpose
                        throughout the ages.
                    </dd>
                    <dt>Salvation by Grace</dt>
                    <dd>Men are justified by faith alone and are accounted righteous before God only through the merit
                        of our Lord and Savior Jesus Christ.
                    </dd>
                    <dt>The return of Jesus Christ</dt>
                    <dd>We believe in the visible and personal return of Jesus Christ and the rapture of the Church, no
                        man knows the day or hour of His return.
                    </dd>
                </dl>
                <p class="text-muted"><em>For a complete statement of our beliefs please contact <a
                                href="mailto:pastorholland@gmail.com">Pastor Holland</a></em></p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 service-times">
                <h2>Service Times</h2>
                <dl>
                    <dt>Coffee &amp; Fellowship</dt>
                    <dd>Sunday 9:45 am</dd>
                    <dt>Sunday School</dt>
                    <dd>Sunday 10:00 am</dd>
                    <dt>Worship Service</dt>
                    <dd>Sunday 11:00 am</dd>
                    <dt>Prayer Meeting</dt>
                    <dd>Wednesday 7:00pm</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="http://placehold.it/360x270&text=ministries"/>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="http://placehold.it/360x270&text=updates"/>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="http://placehold.it/360x270&text=first+visit"/>
            </div>
        </div>
    </div>
    <div class="push-50"><p></p></div>
</div>
