/* bootstrap overrides */
.navbar {
    min-height:88px;
}

/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 240px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height:     240px;
    background-color: #000000;
}

.footer .top-section {
    background-color: #283a56;
    height: 180px;
}
.footer .bottom-section {
    height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 10px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


.navbar-top ul.nav.navbar-nav{
    padding-top:55px;
}

.navbar-top ul.nav.navbar-nav li > a{
    padding-bottom:5px;
    background-color:#ffffff;
}

.navbar.navbar-default {
    border:none;
}

.navbar-default {
    background-color:#ffffff;
}

.push-50 {
    height: 50px;
}

.stripe {
    background-color: #7aa23f;
    padding-top:5px;
    padding-bottom:5px;
}
.stripe > .inner {
    border-top: 1px dashed #f5f5f5;
    border-bottom: 1px dashed #f5f5f5;
}

.stripe .text-muted {
    color:#f5f5f5;
}


dl > dd ,
dl > dt {
    padding-left: 8px;
}

.first-visit dl > dd {
    padding-left: 0;
}

.service-times dl > dt {
    padding-top: 15px;
}
.service-times dl > dd {
    padding-bottom: 15px;
}

.our-beliefs dl > dt,
.first-visit dl > dt
{
    padding-top:8px;
}

.service-times dl > dt:first-child,
.our-beliefs dl > dt:first-child,
.first-visit dl > dt:first-child
{
    padding-top:0;
}

.service-times dl > dd {
    border-bottom:1px solid #cccccc;
}

.main-content {
    background: url('../images/bg.png') repeat;
}

/*.mailing-list .section,*/
/*.connect-with-us .section {*/
    /*padding-left: 20px;*/
/*}*/


.our-beliefs dl {
    list-style: none;
}

.our-beliefs dl img.cross{
    padding-right: 3px;
    margin-top: -4px;
}

.our-beliefs  dl > dd {
    padding-left: 24px;
}

.footer {
    color:#ffffff;
}

.contact-us ul {
    list-style: none;
}

.contact-us section ul {
    -webkit-padding-start: 0px;
    padding-left:0;
}

.contact-us .phone span.content {
    padding-left: 6px;
}

.contact-us .address address {
    padding-left: 6px;
}

div.image-wrapper{
    float:left;
    position:relative; /* important(so we can absolutely position the description div */
}
div.caption-block{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0; /* position will be on bottom */
    left:0;
    width:100%;
    background-color:black;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
p.caption{
    padding:10px;
    margin:0;
}

.events .header {
    width:100%;
}
.events .month-day {
    width: 40px;
}

.events .month-day,
.events .title-block {
    float:left;
}

.events .month-day .day {
    font-size:30px;
}
.events .month-day .month {
    margin-top: -10px;
}
.events .month-day .day,
.events .month-day .month {
    color:#7aa23f;
    width:100%;
    text-align: right;
}

.events .title-block {
    padding-left: 20px;
    margin-top:15px;
}

.events .title {
    text-transform: uppercase;
}
.events .subtitle {
    font-size: 10px;
}

.events dd.description {
    margin-bottom:15px;
    padding-left: 15px;
}

.upcoming-events .btn-wrap {
    width:100%;
    text-align:center;
}

.first-visit dl {
    padding-left:8px;
}
.first-visit dl > dt {
    padding-left:0;
}

.mailing-list,
.contact-us ,
.connect-with-us {
    text-align:center;
}
